@import 'variables';

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: $base-font-size;
  background-color: $bg-gray;
  padding: 10px 40px;
}

.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-btn {
  background-color: $primary-color;
  color: white;
  height: 45px;
  width: 120px;
  border: none;
}

.participants {
  display: flex;
  flex-wrap: wrap;
}

.participant {
  background-color: #eeeeee;
  margin: 10px;
  width: 112px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.groupTitle {
  text-align: center;
  color: white;
  background-color: $gray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .titleName {
    display: flex;
    align-items: center;
    margin-left: 50%;
  }
}

.group-students {
  display: flex;
  border: 2px $gray solid;
  padding: 20px;
}

.group-teachers {
  display: flex;
  margin-left: 200px;
  color: black;
}

.participant-btn {
  width: 112px;
  height: 40px;
  margin: 10px;
  border: 2px $gray solid;
}

.participant-input {
  height: 40px;
  margin: 10px;
  padding: 0 5px;
}
